@import url('http://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    font-family: 'Lato';
    scroll-behavior: smooth;
    transition: .5s ease;
}

.nav-item > a:hover,
.about-p
{
    color: #ec5242;
    font-family: 'COCOGOOSE';
}

.click {
    background-color: #ec5242;
    opacity: 0.8;
    position: fixed;
    padding: 45px;
    top: 0;
    bottom: 0;
}

.click .burger,
.click  a  >  i {
    display: none;
}

.click .close-btn {
    display: block!important;
    font-size: 35px;
    color: #fff;
}

.click .nav-link {
    font-family: 'COCOGOOSE';
    font-size: 49px;
    color: #fff;
}

.click #navbarNav {
    display: flex!important;
    width: 100%;
    height: 100vh;
    justify-content: flex-start!important;
    line-height: 30px;
}

.click .nav-item {
    padding-bottom:60px ;
}

.nav-item a {
    color: #272a31;
    font-size: 20px;
}

.about {
    background-image: url(images/main-background.png);
    height: 60vh;
}

.intro {
    padding: 22px;
}

.intro > h1 {
    padding-top: 85px;
    font-size: 60px;
    font-family: 'COCOGOOSE';
}

.intro > p {
    margin-right: 2px;
    width: 70%;
    font-size: 20px;
    padding: 15px;
    box-shadow: -4px 10px 20px 0px black;
}

.intro > button {
    border-color: #ec5242;
    font-size: 30px;
}

.mainProgram {
    background-image: url(images/pattern-bg.png);
    background-color: #272a31;
    z-index: 1;
}

.mainProgram button > h4,
.feature-h5,
.mainProgram hr,
.intro > h1 {
    color: #ec5242;
}

.mainProgram hr {
    margin: auto;
    opacity: 1;
    margin-bottom: 32px;
    width: 12%;
}

.mainProgram > div > button {
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.09);
    padding-top: 40px;
    margin-bottom: 15px;
}

.mainProgram > div > button i {
    padding-right: 8px;
}

.para {
    padding-left: 10px;
    text-align: left;
}

.para p {
    margin: 0;
}

.featureSpeaker {
    padding: 12px;
}

.feature-div {
    display: flex;
}

.feature-h3 {
    text-align: center;
    font-family: 'COCOGOOSE';
}

.feature-hr,
.partner-hr {
    width: 6%;
    margin: auto;
    margin-top: 13px;
    color: #ec5242;
    opacity: 1;
}

.feature-body {
    padding-left: 30px;
}

.feature-body-hr {
    width: 6%;
    opacity: 1;
    color: #d3d3d3;
}

.feature-img {
    width: 30%;
    height: fit-content;
    padding: 12px;
}

.partner,
.partner-link {
    color: #d3d3d3;
}

.footer {
    background-color: #d3d3d3;
}

@media only screen and (min-width:768px) {

    .feature-img {
        width: 15%;
    }

    .intro > p {
        width: 50%;
    }

    .mainProgram div {
        padding-left: 10%;
    }

    .mainProgram > div > button {
        width: 20%;
        margin-right: 10px;
    }

    .mainProgram > div > button:hover {
        border: 2px solid #fff;
    }

    .mainProgram > div > button i {
        padding-bottom: 12px;
    }
}
